<mat-dialog-content>
    <h2 class="fw-bold">add Your Note</h2>
    <form class="d-flex flex-column" (ngSubmit)="AddAndUpdateNotes()" [formGroup]="noteForm">
        <mat-form-field>
            <mat-label>title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>content</mat-label>
            <input matInput formControlName="content">
        </mat-form-field>
        <mat-dialog-actions>
            <button color="warn" mat-button cdkFocusInitial *ngIf="!data.title && !data.content ; else updateBtn">add</button>
            <ng-template #updateBtn>
                <button color="primary" mat-button cdkFocusInitial>update</button>
            </ng-template>
            
        </mat-dialog-actions>
    </form>
</mat-dialog-content>